.section1-container{
    height: 100vh;
    background-image: url(../../../public/image/section1-1.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section1-title{
    margin-top: 90px;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    color: white;
}
.section1-title h2{
    font-family: 'Freesentation-9Black';
    text-shadow: 5px 11px 0px black;
}
.section1-title h3{
    font-size: 60px;
}
.section1-info{
    margin-top: 50px;
    font-size: 20px;
    font-weight: 900;
    text-shadow: none;
    color: #b8b8b8;
}
.section1-title h3 span {
    position: relative;
}
.section1-title h3 span::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 0;
    height: 6px;
    background-color: yellow;
    border-radius: 10px;
    animation: underline 1.5s forwards; 
}
.section1-button{
    font-size: 20px;
    font-weight: 900;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 10px;
    background-color:#333;
    color: white;
    transition: background-color 0.5s ease;
}
.section1-button:hover{
    background-color:rgb(46, 37, 37);
    cursor: pointer;
}

@keyframes underline {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }