.section2-container{
    background-color: black;
    height: 100vh;
    color: white;
    padding: 0 200px;
}
.about-me-title{
    padding-top: 30px;
}
.about-me-title h2{
    font-size: 150px;
    font-weight: 900;
    color: #333;
}
.about-me-title h4{
    font-size: 50px;
    font-weight: 900;
    position: relative;
    top: -90px;
    left: 100px;
}
.about-me-content{
    display: flex;
    justify-content: space-between;
    margin-top: -66px;
    align-items: center;
}
.about-me_info{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}
.about-me_list{
    display: flex;
}
.info-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}
.info-list svg{
    font-size: 40px;
}
.info-detail{
    font-size: 17px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.info-list li{
    display: flex;
    align-items: center;
    margin: 10px;
}
.info-list a{
    text-decoration: none;
    color: white;
}
.info-list a:hover{
    color: #333;
}
.about-me_info2{
    font-family: 'KyoboHandwriting2023wsa';
    font-size: 24px;
    font-weight: 700;
    margin-top: 50px;
}
.about-me_info2 p span {
    position: relative;
}
.about-me_info2 p span::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 0;
    height: 4px;
    background-color: yellow;
    border-radius: 10px;
    animation: underline 1.5s forwards; 
}
.about-me_img img{
    width: 300px;
    border: 2px solid white;
    border-radius: 10px;
}
.about-me_list {
    opacity: 0; 
    transform: translateX(-100%); 
    transition: opacity 1.5s, transform 1.5s;
  }
  
  .about-me_list.slide-in {
    opacity: 1;
    transform: translateX(0); 
  }